<div class="row">
  <div class="column small-12">
    <h1 class="text-center">{{cat.name}}</h1>
    <ul>
      <li ng-repeat="img in cat.images" ng-show="$index === activeIndex">
        <figure>
          <img ng-src="/images/{{img}}">
        </figure>
      </li>
    </ul>
    <ul id="thumbs">
      <li ng-repeat="img in cat.images" ng-click="show($index)" ng-class="{active:$index === activeIndex}">
        <img ng-src="/images/{{img}}">
      </li>
    </ul>
    <p>{{cat.description | replace:'a':cat.name}}</p>
    <h3>Foods</h3>
    <ol>
      <li ng-repeat="food in cat.foods">
        <h4>{{food.name}}</h4>
      </li>
    </ol>
    <h3>Toys</h3>
    <ol>
      <li ng-repeat="toy in cat.toys">
        <h4>{{toy.name}}</h4>
      </li>
    </ol>
  </div>
  <div class="column small-12" ng-show="user">
    <div class="panel callout text-center">
      Hi {{user.name}}!, wan't to bid for this cat?
    </div>
    <form ng-submit="bid(newBid)">
      <input class="radius" type="number" ng-model="newBid.price" placeholder="price">
      <textarea class="radius" ng-model="newBid.message"></textarea>
      <input class="button expand radius" type="submit" value="BID NOW!">
    </form>
    <h1>On Going Bids:</h1>
    <ol>
      <li ng-repeat="b in bids">
        <h1>PHP {{b.price|number}}</h1>
        <p>{{b.message}} - <b>{{b.user}}</b></p>
      </li>
    </ol>
  </div>
</div>
