<div class="row">
  <div class="column small-12">
    <h1 class="text-center">List of Cats</h1>
    <!--<h1>{{message}}</h1><h3>{{getMessage()}}</h3> -->
    <!-- <pre>{{cats | json}}</pre> -->
    <ul id="cats">
      <li ng-repeat="cat in cats">
        <div class="row">
          <div class="column small-3">

          </div>
          <div class="column small-9">
            <h3>{{cat.name}}</h3>
            <p>{{cat.description | limitTo: 140}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
